<link rel="stylesheet" href="~/css/secondtask.css" />
<body>
    <div class="div-r">
        <p class="td-one">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
        </p>

        <p class="td-two">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
        </p>

        <p class="td-three">
             Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
            
        </p>

        <p class="td-four">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
        </p>

        <p class="td-five">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
        </p>
    </div>

    <div class="div-r">

        <p class="td-six">
            <i>
                Lorem ipsum dolor sit amet
                , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
                Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
                Nunc viverra ut risus non accumsan. Aliquam et nunc nibh.
            </i>
        </p>

        <p class="td-seven">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
        </p>

        <p class="td-eight">
            <b>
                Lorem ipsum dolor sit amet
                , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            </b>
        </p>

        <p class="td-nine">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.

        </p>
    </div>

    <div class="div-r">

        <p class="td-ten">
           
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            
        </p>

        <p class="td-eleven">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
            Nunc viverra ut risus non accumsan. Aliquam et nunc nibh. Phasellus
            tristique, nibh a tincidunt henderit sapien quam malesuada tellus, sit amet tempor
            risus lacus egit velit.
        </p>

        <p class="td-twelve">

            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.

        </p>
    </div>

    <div class="div-r">

        <p class="td-thirteen">
            <b>
                Lorem ipsum dolor sit amet
                , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            </b>
        </p>

        <p class="td-fourteen">
            <b>
                Lorem ipsum dolor sit amet
                , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
                Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
                Nunc viverra ut risus non accumsan. Aliquam et nunc nibh.
            </b>
        </p>

        <p class="td-fifthteen">
            Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Sed egestas at massa vel dapibus.
            Praesant volutpat neque vitae nibh vehicula, ut dignissim justo pretium.
            Nunc viverra ut risus non accumsan.
        </p>

    </div>
</body>

